@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-cogs {
    background-color: #fff;
    background-image: url("/assets/floating-cogs.svg");
  }

  .border-1 {
    border-width: 1px;
  }
}

body {
  @apply font-mono;
}